Package: com.tencent.xin
Name: saulTestAlert
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saul
Author: saul
Section: Tweaks
Version: 0.0.1-14+debug
Installed-Size: 120
