Package: com.tencent.xin
Name: saulAddFriend
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saul
Author: saul
Section: Tweaks
Version: 0.0.1-54+debug
Installed-Size: 132
