Package: com.saul.wrapper
Name: saulWrapper
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saulTong
Author: saulTong
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 124
