Package: com.saul.returnMessage
Name: saulReturnMessage
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saulTong
Author: saulTong
Section: Tweaks
Version: 0.0.1-132+debug
Installed-Size: 132
