Package: com.saul.game
Name: saul.game
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saultong
Author: saultong
Section: Tweaks
