Package: com.saul.loginList
Name: saulLoginList
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saulTong
Author: saulTong
Section: Tweaks
Version: 0.0.1-55+debug
Installed-Size: 132
