Package: com.saul.ali
Name: saulAli
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saulTong
Author: saulTong
Section: Tweaks
Version: 0.0.1-9+debug
Installed-Size: 120
