Package: com.saul.weChatSayHello
Name: saulWeChatSayHello
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saul
Author: saul
Section: Tweaks
Version: 0.0.1-155+debug
Installed-Size: 132
